---
interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "createdbyniko",
  image = "/images/default-social.jpg",
} = Astro.props;

import { ViewTransitions } from "astro:transitions";
import Navbar from "./Navbar.astro";
import InitialLoadingScreen from "../InitialLoadingScreen";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />

    <ViewTransitions />
  </head>
  <body
    class="overflow-x-hidden text-neutral-300 antialiased selection:bg-cyan-300 selection:text-cyan-900"
  >
    <InitialLoadingScreen client:load />

    <div class="fixed top-0 -z-10 h-full w-full">
      <div
        class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
      >
      </div>
    </div>

    <div class="container mx-auto px-8">
      <Navbar />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
